<template>
    <b-container class="mt-5">
        <b-alert :show="showError" variant="danger">Something went wrong!</b-alert>
        <div class="settings">
            <b-dropdown v-if="!isLoading"
                        split
                        split-variant="outline-primary"
                        variant="primary"
                        :text="selected.title || 'Choose rate'"
            >
                <b-dropdown-item v-for="pair in pairs"
                                 :key="pair.id"
                                 :active="pair.id === selected.id"
                                 @click="selected = pair"
                >
                    {{ pair.title }}
                </b-dropdown-item>
            </b-dropdown>
            <div class="loader-container" v-else>
                <b-spinner variant="primary" type="grow" label="Spinning" small></b-spinner>
            </div>

            <div class="form-group mb-0">
                <p class="mb-0 mr-1">From:</p>
                <b-form-datepicker :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                   v-model="from"
                                   value-as-date
                ></b-form-datepicker>
            </div>

            <div class="form-group mb-0">
                <p class="mb-0 mr-1">To:</p>
                <b-form-datepicker :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                   v-model="to"
                                   value-as-date
                ></b-form-datepicker>
            </div>

            <b-button variant="outline-primary" @click="getRates = true">Show</b-button>
        </div>
        <div class="mt-5">
            <chart :selected="selected"
                   :from="fromTimesTemp"
                   :to="toTimesTemp"
                   :get_rates="getRates"
                   @on-fetched="getRates = false"
                   @show-error="handleError( $event )"
            ></chart>
        </div>
    </b-container>
</template>

<script>
    import Chart from "./Chart.vue";

    export default {
        data () {
          return {
              isLoading: false,
              showError: false,
              pairs: [],
              selected: {},
              getRates: false,
              from: '',
              to: ''
          }
        },
        mounted () {
            this.fetchPairs();
        },
        methods: {
            fetchPairs () {
                this.isLoading = true;
                fetch('/api/pairs', {method: 'GET'})
                    .then(response => response.json())
                    .then(response => {
                        this.pairs = response['hydra:member'];
                        this.isLoading = false;
                    })
                    .catch( error => {
                        console.log( error );
                        this.isLoading = false;
                    } )
            },
            handleError () {
                this.showError = true;
                setTimeout( () => this.showError = false, 2000 );
            }
        },
        computed: {
            fromTimesTemp () {
                return this.from ? this.$moment( this.from ).format( 'X' ) : '0'
            },

            toTimesTemp () {
                return this.to ? this.$moment( this.to ).format( 'X' ) : this.$moment().format( 'X' )
            }
        },
        components: {
            Chart
        }
    }
</script>