body {
    background-color: lightgray;
}

.b-dropdown, .loader-container {
    width: 150px;
}

.loader-container {
    border: 1px solid #007bff;
    border-radius: 0.25em;
    padding: 9px 12px;
    height: 36px;
    display: flex;
    justify-content: center;
}

.dropdown-menu.show {
    overflow: auto;
    height: 500px;
}

.settings {
    display: flex;
    justify-content: space-between;
}

.settings > .form-group {
    display: flex;
    align-items: center;
}

.settings .b-form-datepicker {
    width: 200px;
}